/* Base Styles -------------------- */
* {
  box-sizing: border-box; }

.sidebar {
  position: fixed;
  background: #f1e4da;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 350px;
  min-width: 350px;
  padding: 0 20px;
  overflow: hidden;
  z-index: 100;
  margin-bottom: -100px; }
  .sidebar:after {
    content: "";
    display: block;
    height: 100px; }
  @media (max-width: 1085px) {
    .sidebar {
      width: 275px;
      min-width: 275px; } }
  @media (max-width: 480px) {
    .sidebar {
      position: static;
      width: 100%;
      height: 100vh;
      margin: 0; } }

.login-toggle {
  display: block;
  text-align: center;
  margin: auto; }

.search {
  width: 100%;
  flex: 1;
  text-align: center; }

.logo {
  text-align: center;
  margin-bottom: 4em; }

.sidebar a {
  text-decoration: none;
  color: #252525;
  margin-bottom: 2em; }

.search-form {
  margin-bottom: 2em; }

input {
  border: 1px solid #f1e4da;
  padding: 10px 25px;
  width: 70%; }
  input[type="text"] {
    font-size: .9em;
    border-radius: 25px;
    color: #666666;
    outline: none; }
  @media (max-width: 480px) {
    input {
      width: 50%; } }

.social-footer {
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: space-around;
  font-size: 2em;
  width: 100%; }
  .social-footer a {
    color: #4d4d4d;
    margin: 30px 0; }
    .social-footer a:hover {
      color: #B74ACC; }
  @media (max-width: 480px) {
    .social-footer {
      font-size: 1.5em;
      width: 50%;
      margin: auto;
      display: block;
      left: 25%;
      height: 75px; } }

h1 .c-logo {
  display: inline-block;
  animation: rotate 3s ease-out; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }
.login {
  display: none;
  flex: 0.5;
  width: 80%;
  margin: auto;
  margin-bottom: 32px; }
  .login input {
    width: 100%;
    margin-bottom: 20px; }
  .login button {
    display: block;
    margin: auto; }

.gallery {
  flex-direction: column;
  padding-left: 350px;
  background: #252525;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding-right: 60px; }
  @media (max-width: 1085px) {
    .gallery {
      padding-left: 275px; } }
  @media (max-width: 480px) {
    .gallery {
      padding-left: 0; } }

.album-cover {
  max-width: 100%; }

.release {
  width: 278px;
  margin-right: 60px;
  margin-bottom: 80px;
  height: 278px;
  position: relative;
  -webkit-box-shadow: 11px 10px 19px -4px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 11px 10px 19px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 11px 10px 19px -4px rgba(0, 0, 0, 0.68);
  transition: 0.3s ease-in-out; }
  .release:hover {
    transform: scale(1.05); }
  @media (max-width: 1085px) {
    .release {
      width: 200px;
      height: 200px; } }
  @media (max-width: 854px) {
    .release {
      width: 175px;
      height: 175px; } }

.portfolioContainer {
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  margin: 30px 0 0 60px; }

.album-cover,
.actual-record {
  position: absolute;
  width: 278px;
  height: 278px; }
  @media (max-width: 1085px) {
    .album-cover,
    .actual-record {
      width: 200px;
      height: 200px; } }
  @media (max-width: 854px) {
    .album-cover,
    .actual-record {
      width: 175px;
      height: 175px; } }

.album-cover-2 {
  width: 278px;
  overflow: hidden;
  z-index: 10; }

.album-cover {
  overflow: hidden;
  z-index: 10; }

.album-cover::after,
.release::before {
  content: "";
  position: absolute; }

.release::before {
  border-radius: 50%;
  box-shadow: -20px 55px 25px rgba(28, 0, 0, 0.7);
  left: 0;
  bottom: 0px;
  height: 12px;
  width: 95%;
  transform: perspective(800px) rotateX(70deg) scaleX(1.2) scaleY(0.9);
  transition: width 1s ease;
  z-index: -20; }

.release:hover::before {
  width: 105%; }

.actual-record {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/vinilo_negro.png) no-repeat center center;
  background-size: 270px 270px;
  transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
  transition: transform 800ms cubic-bezier(0.39, 0.575, 0.565, 1); }
  @media (max-width: 1085px) {
    .actual-record {
      background-size: 200px;
      transform: translate3d(-4px, 0px, 0px) rotateZ(0deg); } }
  @media (max-width: 854px) {
    .actual-record {
      background-size: 175px;
      transform: translate3d(0px, 0px, 0px) rotateZ(0deg); } }

.actual-record::after {
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 30%, rgba(214, 214, 214, 0.2) 100%), -webkit-linear-gradient(65deg, rgba(255, 255, 255, 0) 50%, rgba(255, 190, 190, 0.5) 100%);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3), inset -1px 1px 2px rgba(135, 126, 125, 0.2), inset 0px 0px 2px 30px rgba(55, 55, 55, 0.1), inset 0px 0px 2px 19px rgba(25, 25, 25, 0.1), inset 0px 0px 1px 40px rgba(25, 25, 25, 0.2);
  background-size: 270px 270px;
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 270px;
  height: 270px; }
  @media (max-width: 1085px) {
    .actual-record::after {
      width: 200px;
      height: 200px;
      top: 0px;
      left: 0px; } }
  @media (max-width: 854px) {
    .actual-record::after {
      width: 175px;
      height: 175px;
      top: 0px;
      left: 0px; } }

.release:hover > .actual-record {
  transform: translate3d(55px, 0px, 0px) rotateZ(40deg); }

.album-title {
  position: absolute;
  top: 103%;
  text-align: center;
  opacity: 1;
  width: 100%; }

.album-title p {
  color: #f1e4da;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.72em;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.release-info {
  background-color: #252525;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-left: 350px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: 2px solid purple; }

.artist {
  font-weight: 300px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100; }

.row-container {
  width: 90%; }

.row {
  display: flex;
  width: 100%;
  height: 50vh;
  border: 2px solid red; }

.track-list {
  display: flex;
  width: 100%;
  height: 50vh;
  border: 2px solid green; }

.right-sidebar {
  border: 2px solid yellow;
  width: 10%; }

.image {
  align-items: center;
  justify-content: center;
  width: 50%; }
  .image img {
    max-width: 60%;
    max-height: 60%; }

.container {
  max-width: 100%; }
  @media (max-width: 480px) {
    .container {
      flex-direction: column; } }

.social-footer, .gallery, .gallery-header, .portfolioContainer, .release-info, .image, .container {
  display: flex; }

.gallery-header {
  margin-left: 70px;
  color: #fff;
  margin-top: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  font-style: italic;
  font-family: 'Roboto';
  font-weight: 300; }
  .gallery-header p {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #B74ACC; }

/* Web fonts --------*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility; }

body {
  font-family: "Varela Round", sans-serif; }

.logo h1 {
  font-family: "Monoton", cursive;
  font-weight: normal;
  font-size: 4.5em;
  color: #252525;
  margin-top: 3em;
  margin-bottom: 0; }
  @media (max-width: 1085px) {
    .logo h1 {
      margin-top: 2em; } }
@media (max-width: 1085px) {
  .logo {
    font-size: 0.8em; } }
@media (max-width: 480px) {
  .logo {
    font-size: 1em; } }
.logo p {
  color: #4d4d4d;
  width: 75%;
  margin: auto;
  font-size: .95em; }
  @media (max-width: 1085px) {
    .logo p {
      font-size: 1em;
      width: 90%; } }
  @media (max-width: 480px) {
    .logo p {
      font-size: 0.9em;
      padding: 0 30px;
      margin-top: -15px; } }

a:hover {
  color: #B74ACC; }

button {
  -webkit-appearance: button;
  cursor: pointer;
  background-color: #B74ACC;
  border: 0;
  font-size: .8em;
  border-radius: 25px;
  margin-left: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff; }

.login button {
  -webkit-appearance: button;
  cursor: pointer;
  background-color: #B74ACC;
  border: 0;
  font-size: .8em;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #fff; }

/*# sourceMappingURL=application.css.map */
