<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../web/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic|Monoton|Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../web/css/application.css">
    <script src="../web/js/jquery-1.12.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="../web/js/scripts.js"></script>

    <title>CRATE</title>
  </head>
  <body>
    <div class="container">
        <div class="sidebar">
          <!-- logo -->
          <div class="logo">
            <h1><a href="index.html"><span class="c-logo">C</span>RATE<a href="#"></h1>
            <p>Welcome to <b>CRATE</b>, home of your record collection.</p>
          </div>
          <!-- login button -->
          <a class="login-toggle" href="#">LOG IN</a>
          <!-- login forms -->
          <div class="login">
            <form class="login-form">
              <input type="text" name="name" placeholder="Username">
              <input type="text" name="name" placeholder="Password">
              <a href="collection.html"><button type="button" name="button"><i class="fa fa-play"></i></button></a>
            </form>
          </div>
          <!-- search bar -->
          <div class="search">
            <form class="search-form" action="" method="">
              <input type="text" name="search-input" placeholder="Search">
              <a href="search.html"><button type="button" name="button"><i class="fa fa-search"></i></button></a>
            </form>
          </div>

          <!-- social icons -->
          <div class="social-footer">
            <a href="https://github.com/patternandshape/crate"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="collection.html"><i class="fa fa-twitter"></i></a>
          </div>
      </div>

      <div class="gallery">
        <div class="gallery-header">
          <p>Search Results</p>
        </div>
        <div class="portfolioContainer">
          <div class="release experimental">
            <a href="release.html"><img class="album-cover" src="../web/img/1.jpg" alt="" /></a>
            <div class="actual-record"></div>
            <figcaption class="album-title">
              <a class="record-name" href="release.html">Cool Record</a>
              <a href="#"><i class="fa fa-plus"></i></a><span class="slash">\</span>
              <a href="#"><i class="fa fa-minus"></i></a>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/2.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/3.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/1.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/2.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/3.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/1.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/2.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/3.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/1.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/2.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/3.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/1.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/2.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/3.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/1.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/2.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/3.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
          <div class="release experimental">
            <img class="album-cover" src="../web/img/1.jpg" alt="" />
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>Cool Record</p>
            </figcaption>
          </div>
        </div>
        <div class="back-forward">
          <div class="back"><a href="#"><i class="fa fa-backward"></i></a></div>
          <div class="back"><a href="#"><i class="fa fa-forward"></i></a></div>
        </div>
      </div>
    </div>
  </body>
</html>
