<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round|Monoton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/application.css">
    <script src="../js/jquery-1.12.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js
    <title>My Wantlist</title>
  </head>
  <body>

  </body>
</html>
