%flex {
  display: flex;
}

%gallery-header {
  margin-left: 70px;
  color: #fff;
  margin-top: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  font-style: italic;
  font-family: 'Roboto';
  font-weight: 300;
  p {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-accent;
  }
}

%main-container {
  background-color: $color-primary;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-left: 350px;
  color: #fff;
  font-family: $stack-roboto;
}

%links {
  text-decoration: none;
  color: $crate-beige;
  font-family: $stack-roboto;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 0.72em;
}

%sidebar-btn {
  background-color: #B74ACC;
  border: 0;
  font-size: .8em;
  border-radius: 25px;
  text-transform: uppercase;
  color: #fff;
}
