.gallery {
  flex-direction: column;
  @extend %flex;
  padding-left: 350px;
  background: $color-primary;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding-right: 60px;
  @media #{$medium} {
    padding-left: 275px;
  }
  @media #{$small} {
    padding-left: 0;
  }
}

.album-cover {
  max-width: 100%;
}

.gallery-header {
  @extend %flex;
  @extend %gallery-header;

  @media #{$tablet} {
    justify-content: center;
  }
}


.release {
  width: 278px;
  margin-right: 60px;
  margin-bottom: 80px;
  height: 278px;
  position: relative;
  -webkit-box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  box-shadow: 11px 10px 19px -4px rgba(0,0,0,0.68);
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  @media #{$medium} {
    width: 200px;
    height: 200px;
  }
  @media #{$tablet} {
    width: 278px;
    height: 278px;
  }
}

// .release > * {
//   @media #{tablet} {
//     width: 275px;
//     height: 275px;
//   }
// }


.portfolioContainer {
  @extend %flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  margin: 30px 0 0 60px;
}

// cool record effect //

.album-cover,
.actual-record {
  position: absolute;
  width: 278px;
  height: 278px;
  @media #{$medium}{
    width: 200px;
    height: 200px;
  }
  @media #{$tablet} {
    width: 278px;
    height: 278px;
  }
}

.album-cover-2 {
  width: 278px;
  overflow: hidden;
  z-index: 10;
}

.album-cover {
  // @include background-image('1');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  overflow: hidden;
  z-index: 10;
}

.album-cover::after,
.release::before {
  content: "";
  position: absolute;
}

.release::before {
  border-radius: 50%;
  box-shadow: -20px 55px 25px rgba(28,0,0,0.7);
  left: 0;
  bottom: 0px;
  height: 12px;
  width: 95%;
  transform: perspective(800px) rotateX(70deg) scaleX(1.2) scaleY(0.9);
  transition: width 1s ease;
  z-index: -20;
}

.release:hover::before {
  width: 105%;
}

.actual-record {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/vinilo_negro.png) no-repeat center center;
  background-size: 270px 270px;
  transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
  transition: transform 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  @media #{$medium}{
    background-size: 200px;
    transform: translate3d(-4px, 0px, 0px) rotateZ(0deg);
  }
  @media #{$tablet} {
    background-size: 175px;
    transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
  }
}

.actual-record::after {
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 30%, rgba(214,214,214,0.2) 100%), -webkit-linear-gradient(65deg, rgba(255,255,255,0) 50%, rgba(255,190,190,0.5) 100%);
  box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3), inset -1px 1px 2px rgba(135,126,125,0.2), inset 0px 0px 2px 30px rgba(55,55,55,0.1), inset 0px 0px 2px 19px rgba(25,25,25,0.1), inset 0px 0px 1px 40px rgba(25,25,25,0.2);
  background-size: 270px 270px;
  content:"";
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 270px;
  height: 270px;
  @media #{$medium}{
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
  }
  @media #{$tablet} {
    width: 275px;
    height: 275px;
    top: 0px;
    left: 0px;
  }
}

.release:hover > .actual-record {
  transform: translate3d(55px, 0px, 0px) rotateZ(40deg);
}

figcaption {
  padding-top: 0.5em;
}
.album-title {
  position: absolute;
  top: 103%;
  text-align: center;
  opacity: 1;
  width: 100%;

  .record-name {
  padding-right: 10px;
  @extend %links;
  &:hover {
    color: $color-accent;
  }
  }
  .fa-plus {
    color: $color-accent;
    padding-right: 10px;
    &:hover {
      color: $red;
    }
  }
  .fa-minus {
    color: $color-accent;
    padding-left: 10px;
    &:hover {
      color: $kelly-green;
    }
  }
  .slash {
    color: $crate-beige;
  }
}

.album-title p {
  @extend %links;
}
