ul {
  padding-left: 0;
  font-family: $stack-roboto;
  font-weight: 100;
  letter-spacing: .04em;
}

.release-info {
  @extend %main-container;
  @extend %flex;
  justify-content: center;
  align-items: center;
}

.artist {
  border-bottom: 1px solid $color-accent;
  padding-bottom: 10px;
  font-family: $stack-roboto;
  color: #fff;
  display: block;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: .04em;
}

.title {
  font-family: $stack-roboto;
  display: block;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
  padding-top: 15px;
}

.row-container {
  @extend %flex;
  width: 1080px;
  height: 1080px;
  flex-wrap: wrap;

  @media #{$big-medium} {
    width: 900px;
    height: 900px;
  }
}


.track {
  display: block;
  font-size: 1.7em;
  padding-bottom: 10px;
}

.square-2 {
  @extend %flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
  width: 50%;
  height: 50%;
  // border: 5px solid peru;
  background: $crate-beige;
  opacity: 0.9;
  color: $light-grey;
  font-size: .9em;
  line-height: 1.4em;
  letter-spacing: 0.1em;

  @media #{$big-medium} {
    line-height: 1.1em;
  }
}

.square-1 {
  position: relative;
  // border: 1px solid red;
  background-image: url('../img/slash.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  font-family: $stack-roboto;
  weight: 100;
  text-transform: uppercase;
  span {
    display: block;
  }
}

.plus {
  color: $crate-beige;
  position: absolute;
  display: block;
  top: 10%;
  left: 20%;
  font-size: 8em;
  font-weight: 100;
    &:hover {
      color: $red;
    }
}

.minus {
  color: $crate-beige;
  position: absolute;
  display: block;
  top: 51%;
  left: 65%;
  font-size: 16em;
  font-weight: 100;
  &:hover {
    color: $kelly-green;
  }
}

.my-collection {
  display: block;
  color: #808080;
  letter-spacing: .2em;
  font-family: $stack-roboto;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  &:hover {
    color: $color-accent;
  }

  @media #{$big-medium} {
    font-size: 1.1em;
  }
}

.image {
  font-family: $stack-varela;
  width: 50%;
  height: 50%;
  @extend %flex;
  justify-content: space-between;
  img {
    justify-content: flex-start;
    max-width: 100%;
    max-height: 100%;
  }
}

.info {
  // border: 1px solid red;
  @extend %flex;
  font-family: $stack-roboto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2em;
  color: $lightest-grey;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  font-size: 1.2em;
  li {
    list-style: none;
    padding: 0;
  }
}
