// main container div for all release info
.release-info {
  @extend %main-container;
  @extend %flex;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  ul {
    padding-left: 0;
    font-family: $stack-roboto;
    font-weight: 100;
    letter-spacing: .04em;
  }

  @media #{$laptop} {
    margin-left: 275px;
  }

  @media #{$tablet} {
    overflow-y:auto;
    align-items: flex-start;
  }
  @media #{$mobile} {
    margin-left: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    overflow-y: hidden;
  }
}

// release-info's bff

.row-container {
  @extend %flex;
  width: 1080px;
  height: 1080px;
  flex-wrap: wrap;

  @media #{$big-medium} {
    width: 900px;
    height: 900px;
    justify-content: center;
  }

  @media #{$laptop} {
    width: 100vw;
    height: 100vh;
  }

  @media #{$tablet} {
    align-items: flex-start;
    width: 100%;
    height: auto;
  }
}


.track {
  display: block;
  font-size: 1.7em;
  padding-bottom: 10px;
}

.image {
  font-family: $stack-varela;
  width: 50%;
  height: 50%;
  @extend %flex;
  justify-content: space-between;

  @media #{$laptop}{
    justify-content: flex-end;
  }
  @media #{$tablet}{
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
  }
}

  img {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  @media #{$tablet} {
    width: 450px;
    height: 450px;
}

// right info zone

.info {
  @extend %flex;
  font-family: $stack-roboto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2em;
  color: $lightest-grey;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  font-size: 1.2em;
  li {
    list-style: none;
    padding: 0;
  }
  @media #{$tablet} {
    width: 590px;
    height: 590px;
  }
}

.artist {
  border-bottom: 1px solid $color-accent;
  padding-bottom: 10px;
  font-family: $stack-roboto;
  color: #fff;
  display: block;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: .04em;
}

.title {
  font-family: $stack-roboto;
  display: block;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
  padding-top: 15px;
}

.square-1 {
  position: relative;
  background-image: url('../img/slash.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 50%;
  font-family: $stack-roboto;
  weight: 100;
  text-transform: uppercase;
  span {
    display: block;
  }
  @media #{$laptop}{
    background-position: center;
  }
  @media #{$tablet} {
    width: 590px;
    height: 590px;
    order: 1;
  }

}

.plus {
  color: $crate-beige;
  position: absolute;
  display: block;
  top: 10%;
  left: 20%;
  font-size: 8em;
  font-weight: 100;
    &:hover {
      color: $red;
    }
    @media #{$laptop}{
      font-size: 6em;
      top: 15%;
      left: 25%;
    }
    @media #{$tablet} {
      font-size: 8em;
      top: 15%;
      left: 20%;
    }
    @media #{$mobile}{
      font-size: 6em;
      top: 25%;
      left: 25%;
    }
}

.minus {
  color: $crate-beige;
  position: absolute;
  display: block;
  top: 51%;
  left: 65%;
  font-size: 16em;
  font-weight: 100;
  &:hover {
    color: $kelly-green;
  }
  @media #{$laptop}{
    font-size: 12em;
    top: 45%;
    left: 60%;
  }
  @media #{$tablet} {
    font-size: 16em;
    top: 45%;
    left: 65%;
  }
  @media #{$mobile}{
    font-size: 12em;
    top: 48%;
    left: 60%;
  }
}

.my-collection {
  display: block;
  color: #808080;
  letter-spacing: .2em;
  font-family: $stack-roboto;
  font-weight: 300;
  font-size: 1.6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  &:hover {
    color: $color-accent;
  }

  @media #{$big-medium} {
    font-size: 1.1em;
  }

  @media #{$laptop}{
    font-size: 1.2em;
  }

  @media #{$tablet} {
    font-size: 1.4em;
    top: 50%;
  }

  @media #{$mobile} {
    font-size: 1.1em;
  }
}

.square-2 {
  @extend %flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
  width: 50%;
  height: 50%;
  background: $crate-beige;
  opacity: 0.9;
  color: $light-grey;
  font-size: .9em;
  line-height: 1.4em;
  letter-spacing: 0.1em;

  @media #{$big-medium} {
    line-height: 1.1em;
  }
  @media #{$tablet} {
    width: 590px;
    height: 590px;
  }
}
