// Sidebar Container

.sidebar {
  position: fixed;
  background-image: url('../img/natural_paper.jpg');
  // background: $crate-beige;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 350px;
  min-width: 350px;
  padding: 0 20px;
  overflow: hidden;
  z-index: 100;
  margin-bottom: -100px;
  &:after {
    content: "";
    display: block;
    height: 100px;
  }
  @media #{$laptop} {
    width: 275px;
    min-width: 275px;
  }
  @media #{$mobile} {
    position: static;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}

.sidebar {
  a {
    text-decoration: none;
    color: $color-primary;
    margin-bottom: 2em;
  }
}

// Logo

.logo {
  text-align: center;
  margin-bottom: 4em;
}

h1 .c-logo {
  display: inline-block;
  animation: rotate 3s ease-out;
}

@keyframes rotate {
  100% {transform: rotateZ(360deg);}
}

// Login Form

.login-toggle {
  display: block;
  text-align: center;
  margin: auto;
}

// Search Form Zone

.search {
  width: 100%;
  flex: 1;
  text-align: center;
}

.search-form {
  margin-bottom: 2em;
}

input {
  border: 1px solid $crate-beige;
  padding: 10px 25px;
  width: 70%;
  &[type="text"],
  &[type="password"] {
  font-size: .9em;
  border-radius: 25px;
  color: #666666;
  outline: none;
  }
  @media #{$mobile} {
    width: 50%;
  }
}

// Social Footer

.social-footer {
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  @extend %flex;
  justify-content: space-around;
  font-size: 2em;
  width: 100%;
  a{
    color: $light-grey;
    margin: 30px 0;
    &:hover {
      color: $color-accent;
    }
  }
  @media #{$mobile} {
    font-size: 1.5em;
    width: 50%;
    margin: auto;
    display: block;
    left: 25%;
    height: 75px;
  }
}

h1 .c-logo {
  display: inline-block;
  animation: rotate 3s ease-out;
}

@keyframes rotate {
  100% {transform: rotateZ(360deg);}
}


.login {
  display: none;
  flex: 0.5;
  width: 80%;
  margin: auto;
  margin-bottom: 32px;

  input {
    width: 100%;
    margin-bottom: 20px;
  }
  button {
    display: block;
    margin: auto;
  }
  .login-form {
    margin-bottom: 1.5em;
  }
  .create-account {
    display: block;
    margin: auto;
    text-align: center;
  }
}

.account-form {
  display: none;
  margin-top: 0.5em;
}
