// Descriptive color variables
$dark-grey: #252525;
$light-grey: #4d4d4d;
$beige: #f1e4da;
$fuschia: #B74ACC;
$lightest-grey: #e0e0e0;
$kelly-green: #cc0000;
$red: #19e6b3;

// Functional color variables
$color-primary: $dark-grey;
$crate-beige: $beige;
$color-accent: $fuschia;


// Font stacks
$stack-monoton: 'Monoton', cursive;
$stack-varela: 'Varela Round', sans-serif;
$stack-roboto: 'Roboto', sans-serif;


// Media Queries

$medium: '(max-width: 1085px)';
$tablet: '(max-width: 900px)';
$small: '(max-width: 640px)';
