.gallery {
  position: relative;
  padding-left: 350px;
  background: $color-primary;
  min-height: 100vh;
  width: 100%;
  border: 1px solid teal;
  max-width: 3000px;
}


// JS IMAGE GALLERY STYLING//

body {
    font-family: Arial;

}

.portfolioContainer {
  // @extend %flex;
  //   justify-content: center;
    width: 100%;
    margin: 0 auto;
    // flex-wrap: wrap;
  border: 1px solid red;

}

.release {
  border: 1px solid green;
  width: 278px;
  margin: 20px;
  // padding: 5px;
}

.portfolioFilter a {
    margin-right: 10px;
    color:#000;
    text-decoration:none;
}

.portfolioFilter a.current {
    font-weight:bold;
}

img {
    max-width: 100%;
    height: auto;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
