
.sidebar {
  @extend %flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: #fff;
  left: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  min-width: 350px;
  overflow: hidden;
  z-index: 100;
  justify-content: space-between;
}

.search {
  margin-top: 6em;
  width: 100%;
  flex: 1;
  text-align: center;
}


.sidebar {
  a {
    text-decoration: none;
    color: $color-primary;
  }
}

.search-form {
  margin-bottom: 2em;
}

input {
  border: 1px solid $color-primary;
  padding: 10px 25px;
  width: 50%;
  &[type="text"] {
  font-size: .9em;
  border-radius: 25px;
  color: #666666;
  outline: none;
  }
}

.social-footer {
  @extend %flex;
  justify-content: space-around;
  font-size: 2em;
  width: 100%;
  margin: 30px 0;
  color: $color-primary;
}

span {
  display: inline-block;
  // animation: rotate 4s cubic-bezier(1,.48,.04,.96);
  animation: rotate 3s ease-out;
}

@keyframes rotate {
  100% {transform: rotateZ(360deg);}
}
