// button

button[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  background-color: #B74ACC;
  border: 0;
  font-size: .8em;
  border-radius: 25px;
  margin-left: 10px;
  padding: 10px 20px;
}
