/* Web fonts --------*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}


.logo {
  h1 {
  font-family: $stack-monoton;
  font-weight: normal;
  font-size: 4.5em;
  color: $color-primary;
  margin-top: 3em;
}
}
