// Descriptive color variables
$dark-grey: #252525;
$light-grey: #4d4d4d;
$beige: #f1e4da;

// Functional color variables
$color-primary: $dark-grey;
$crate-beige: $beige;



// Font stacks
$stack-monoton: 'Monoton', cursive;
$stack-varela: 'Varela Round', sans-serif;


// Media Queries

$medium: '(max-width: 1085px)';
$tablet: '(max-width: 854px)';
$small: '(max-width: 480px)';
